
.box{
    margin: 20px 0; 
}
.itemTitle{
    font-weight: bold;
    font-size: 30px;
}
.url{
    font-size: 21px;
}

.aHref:hover{
    color: blue;
}
.pageList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.pageListItem{
    border-radius: 10px;
    background: #ededed;
    height: 35rpx;
    width: 35rpx;
    color:#000;
}